google-it-automation-with-python-professional-certi.png
Coursera DNQ3MB9LD4QK.pdf
hello_world.py
hello_world.txt
putty.exe
tc4pIu_VRNGfE-Up0gdfWw_053bac09f21a4e3dad9ec42d880eedf1_Course-5-glossary.docx